body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 10px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid ;
  
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:;
}

div.transbox {
  margin: 5%;
  width:500px;
  font-weight: bold;
  color: #000000;
  border: 5px solid rgba(0, 0, 0, .4);
  
}

div.background {
  background: url(bk.jpg);
  border: 2px solid black;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#6a5acd;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

div.head{text-align:left; font-family: "Lucida Console", Times, serif;}

img {
  border-radius: 4px;
  padding: 5px;
  width: 400px;
}